POSTGRES_USER=warehouse
POSTGRES_PASSWORD=warehouse
POSTGRES_DB=commerce_warehouse

MONGO_DB=commerce_reviews

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

DATAHUB_SERVER=http://localhost:8080
DATAHUB_TOKEN=
